<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Crypto Currencies</h1>
    {% for currency in currencies %}
        <h2>{{ currency.getCryptoName }}</h2>
        <p>{{ currency.getCurrentPrice }}</p>
        <p>Current price: {{ currency.getPercentChange }}</p>
        <p>Current price: {{ currency.getHighPrice }}</p>
        <p>Current price: {{ currency.getLowPrice }}</p>
    {% endfor %}
</body>
</html>